.footer-bg {
  min-height: 100vh;
  width: 100%;
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
  position: relative;
  opacity: 0.7;
  overflow: hidden;
}

.footer-bg::before {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: blue;
  opacity: 0.8;
}

.footer-flex {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80%;
  transform: translateX(15%);
  margin-top: 6rem;
  text-align: center;
}

.footer-topic {

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 0;
  margin-bottom: 6rem;
  text-align: center;

}

.footer-txt {
  font-size: 30px;
  font-weight: 500;
  text-align: center;
  color: white;
}

.footer-dots {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-bottom: 0.7rem;
  gap: 0.3rem;
}

.footer-hr1 {
  width: 55px;
  height: 0;
  border-top: 2x dotted;
  border-top-color: white;
}

.footer-hr2 {
  width: 20px;
  border-top: 4px dotted white;
}

.footer-hr3 {
  width: 55px;
  height: 0;
  border-top: 2x dotted;
  border-top-color: white;
}

.footer-lorem {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.footer-lorem p {
  font-size: 16px;
  color: white;
}

/* Button */
.inp-btn {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 2rem;

}


.input {
  font-size: 20px;
  border: none;
  border-radius: 2rem;
  outline: none;
  width: 100%;
  height: 8vh;
  background-color: lightblue;

}

.footer-btn {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: white;
  border-radius: 1.5rem;
  width: 25%;
  height: 7vh;
  gap: 0.3rem;
}

.paper-icon {
  color: rgb(47, 93, 211);
  font-size: 1rem;

}

.copyright {
  overflow-y: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
  gap: 0.3rem;
  width: 100%;
  margin-top: 1rem;
}

/* button responsive */



@media(max-width:540px) {
  .inp-btn {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
  }

  .input {
    font-size: 15px;
    border: none;
    border-radius: 2rem;
    outline: none;
    width: 100%;
    height: 8vh;
    padding: 8px;
  }

  .footer-btn {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: white;
    border-radius: 1.5rem;
    width: 50%;
    height: 7vh;
    gap: 0.3rem;
    padding: 8px;
    font-size: 15px;
  }

  .paper-icon {
    color: rgb(47, 93, 211);
    font-size: 0.8rem;
  
  }
  .span-btn{
    font-weight: 700;
    font-size: 0.7rem;
    color: #3059BE;
  }

}


@media(min-width:539px) {
  .inp-btn {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 5rem;
    margin-bottom: 5rem;
  }

  .input {
    font-size: 20px;
    border: none;
    border-radius: 2rem;
    outline: none;
    width: 100%;
    height: 8vh;
    padding: 10px;

  }

  .footer-btn {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: white;
    border-radius: 1.5rem;
    width: 40%;
    height: 7vh;
    gap: 0.3rem;
    padding: 10px;
  }


  .span-btn{
    font-weight: 700;
    font-size: 0.9rem;
    color: #3059BE;
  }

}